<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SeptemberApp"
        tools:targetApi="31">
        <activity
            android:name=".MainScreen"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.septemberapp.MAINSCREEN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Menu"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.septemberapp.MENU" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TextPlay"
            android:exported="false">
        </activity>
        <activity
            android:name=".Email"
            android:exported="false">
        </activity>
        <activity
            android:name=".Camera"
            android:label="Camera Application"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Data"
            android:exported="false">
        </activity>
        <activity
            android:name=".OpenedClass"
            android:exported="false">
        </activity>
        <activity
            android:name=".AboutUs"
            android:theme="@android:style/Theme.Dialog"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.septemberapp.ABOUTUS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Prefs"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.septemberapp.PREFS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>